.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
.gradle/
.idea/
.pnp
.pnp.js
build/
caches/
coverage/
daemon/
native/
node_modules/
npm-debug.log*
wrapper/
yarn-debug.log*
yarn-error.log*
yarn.lock